.page-wrapper {
  max-width: 1040px;
  margin: 0 auto;
  padding: 10px 15px 0;
}
.page-gameboy-wrapper {
  display: flex;
  justify-content: space-around;
  perspective: 1000px;
  padding-top: 32px;
}